.message{
    /*display: flex;*/
    /*justify-content: flex-end;*/
}



.message img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    /*display: flex;*/
    /*justify-content: flex-end;*/
}

.message span{

}