.norm input,
.norm textarea {
    outline: none;
    border: 1px solid green;
}

.error input,
.error textarea {
    border: 1px solid red;
    outline: none
}

.error span {
    color: red;
}

.errorMessage {
    border: 1px solid red;
    color: red;
}

