
.app-wrapper {
    width: 100vw;
    margin: 0 auto;
    display: grid;


    grid-template-areas:
            "h h"
            "n c";

    grid-template-rows: 60px 1fr; /* 2 строки fr - фрагмент*/
    grid-template-columns: 2fr 10fr; /* 2 столбца*/
    /*grit-gap: 10px*/

}

.app-wrapper-content {
    width: 80vw;

    grid-area: c; /*псевдоним*/

    background-color: rgba(0, 0, 0, 0.22);
    margin: 1px;
    border-radius: 10px;
}


