.dialogBlock {
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}


.dialogPassive {
    color: white;
}

.dialogActive {
    color: #ffd500;
}

.image{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.name {
    margin-left: 3px;
}
